*{
  scroll-behavior: smooth;
  }

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5{
  font-family: 'Oswald', sans-serif;
}

p {
  line-height: 22px;
}
/* --------------Navigation-left-------------- */

.navbar {
  position: fixed;
  background-color: rgb(13,118,189);
  z-index: 99;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
  padding: 25px 0;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  text-decoration: none;
  color:white;
  font-size: 1.7rem;
}


.nav-item:hover {
  background-color: #a5c8e0;
}

li .nav-item{
  height: 100%;
  width: 100%;
}
.icon {
  background-image: url("../img/1024px-Cross_icon_(white).svg.png");
  background-size: cover;
  height: 70px;
  width: 70px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.icon-one{
  background-image: url("../img/icon1.png");
  height: 75px;
  width: 75px;
}

.icon-two{
  background-image: url("../img/icon2.png");
}

.icon-three{
  background-image: url("../img/icon3.png");
}

.icon-four{
  background-image: url("../img/icon4.png");
}
/* --------------burgermenu------------- */
.topnav {
  overflow: hidden;
  background-color: rgb(13,118,189);
  margin-left:60%;
  width: 40%;
  z-index: 1;
  position: absolute;
}

.topnav #myLinks {
  display: none;
  font-family: Oswald;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.burger-icon {
  background: white;
  display: block;
  position: absolute;
  font-size: 160%;
  right: 0;
  top: 0;
  margin: 2%;
}

.topnav a:hover {
  background-color: #a5c8e0;
  color: black;
}

.active {
  background-color: white;
  color: white;
}

.logo{
  height: 30px;
  width: 65px;
  padding: 0;
}

/* --------------heroimage-------------- */


.hero-img{
  height: 100vh;
  background-image:url("../img/hero.png");
  width:100%;
  background-size: cover;
}
/*.burgerbar{
  background-image:url("../img/hamburger_menu-512.png");
  background-size: cover;
  position: absolute;
  height: 50px;
  width: 50px;
  float: right;
  margin-top: 1%;
  margin-left: 83%;
}*/

/* --------------main-------------- */
main {
  margin-left: 7rem;
  padding: 0.4rem;
}
.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.item{
  width: 48%;
  height: 500px;
  margin: 5px;
  overflow: scroll;
}

.picture-three{
  background-image:url("../img/drone.jpg");
  background-size: cover;
}

.picture-six{
  background-image:url("../img/testing.jpg");
  background-size: cover;
}

.picture-seven{
  background-image:url("../img/software.png");
  background-size: cover;
}

.one, .two {
  text-align: center;
}

.one p{
  width: 90%;
  text-align: left;
  margin: auto;
}
.textbox h2{
  margin-top: 80px;
}
.reveal{
  position: relativ;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.reveal.active2{
  transform: translateY(0px);
  opacity: 1;
}
/*about*/
.about {
  margin: 10%;
}

.about-img {
  width: 100%;
}

/*------------contact---------------*/
.contact {
  margin: 10%;
}

.contact_wrapper{
  top: 50%;
  left: 50%;
  max-width: 350px;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
}

.contact_wrapper h2{
  text-align: left;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
}

.contact_wrapper .input_field{
  margin-bottom: 10px;
}

.contact_wrapper .input_field input[type="text"],
.contact_wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.contact_wrapper textarea{
  resize: none;
  height: 80px;
}

.contact_wrapper .btn_contact input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #0E75BD;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

/*faq*/
.faq {
  margin: 10%;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3rem;
  height: 50%;
  margin: 5% 0% 10% 0%;
  padding: 5%;
  background-color: rgb(13,118,189, 0.5);
  border-radius: 20px;

}

a {
  text-decoration: none;
  color: #222222;
}




/* --------------footer-------------- */
footer{
  width: 100%;
  height: auto;
  background-color: rgb(88,88,90);
  margin-top: 200px;
  position: absolute;
  padding: 2%;
}

.footer1{
    font-size: 0.8rem;
    color: #fff;
    display: inline-block;
    margin-left: 20vw;
    float: left;
}

.footer2{
    font-size: 0.8rem;
    color: #fff;
    display: inline-block;
    margin-left: 30%;
}


/* --------------mobile-------------- */
.mobile-text h1{
  text-align: center;
  margin-top: 80px;
}

@media only screen and (max-width: 600px) {

  .navbar {
    bottom: 0;
    width: 100vw;
    height:7rem;
  }

  .navbar-nav {
    flex-direction: row;
    margin: 0 8 0 0;

  }
  .nav-link {
    justify-content: center;
    width: 100%;
  }

  main {
    margin: 0;

  }
  .nav-item {
    width: 100%;
    height: 5rem;
    padding: 16px 0;

  }
  .top, .bottom{
    display: none;
  }
  .icon{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .hero-img{
    background-image: url("../img/Drone-with-no-background-min-768x330.png");
    height: 220px;
    width: 100%;
    margin: auto;
    background-size: cover;

  }
  .web-top{
    display:none;
  }

  .container{
    display:column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item{
    width: 100%;
  }

  .item-four{
    order: -1;
    width: 100%;
    height: 500px;
    margin: 5px;
  }

  .item-seven{
  order: 1;
  width: 100%;
  height: 500px;
  margin: 5px;
  }
  .textbox h2{
    margin-top: 30px;
  }

  .hide-on-mobile {
    display: none;
  }
  footer{
    height: 70%;
    margin-top: 20px;
    width: 95%;
    margin: auto;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 7rem;
    height: 100vh;
  }
  .mobile-text{
    display:none;
  }
  .mobile-top{
    display: none;
  }

  /*.burgerbar{
    height: 70px;
    width: 70px;
    float: right;
    margin-top: 1.2%;
    margin-left: 90%;
  }*/


  /* --------------burgermenu------------- */
  .topnav {
    width: 25%;
    margin-left: 75%;
  }

  .topnav a.burger-icon {
    font-size: 160%;
    margin-top: 5%;
  }

  .logo{
    height: 40px;
    width: 86.68px;
  }

  /*about*/
  .about {
    margin-top: 15%;
  }

  .about-text {
    width: 40%;
    float: left;
    margin-top: 10%;
  }

  .about-img {
    width: 55%;
    margin-left: 5%;
    margin-top: 2%;
  }

  /*contact*/
  .contact {
    margin-top: 15%;
  }

  /*faq*/
  .faq {
    margin-top: 15%;
  }
}

@media only screen and (min-width: 900px) {

  /* --------------burgermenu------------- */
  .topnav {
    width: 20%;
    margin-left: 80%;
  }

  .topnav a.burger-icon {
    font-size: 200%;
    margin-top: 5%;
  }

  .logo{
    height: 60px;
    width: 130px;
  }
}
