* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Oswald', Lato; 
}

.logo {
	width: 170px;
	margin: 0 auto;
	align-items: center;
}

.wrappper {
	display: flex;
	position: relative;
}

.wrapper .sidebar {
	position: fixed;
	width: 200px; 
	height: 100%;
	background: #0D76BD;
	padding: 30px; 
}

.wrapper .sidebar ul li {
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(225,225,255,0.05);
}

.wrapper .sidebar ul li a {
	color: #ffffff;
	display: block;
}

.wrapper .sidebar ul li a {
	width: 25px;
}

.wrapper .sidebar ul li:hover {
	background: #58585A;
}

.wrapper .sidebar ul li:hover a{
	color: #fff;
}

.wrapper .main-content {
	width: 100%;
	margin-left: 200px; 
}

.wrapper .main-content .header h1 {
	padding-left: 30px;
	padding-top: 30px;
	background: #fff;
	}

.wrapper .main-content p {
	padding-left: 30px;
}

.wrapper .main-content .links {
	padding: 30px;
}

.wrapper2 {
	display: flex; 
	flex-direction: row; 
	
}

.kasse1 { 
	height: 100px; 
	width: 100px; 
	margin-bottom: 10px; 
	background-color: #0D76BD;
	border: solid #000000;
	margin: 10px;
}

.kasse2 { 
	height: 100px; 
	width: 100px; 
	margin-bottom: 10px; 
	background-color: #58585A;
	border: solid #000000;
	margin: 10px;
}

.kasse3 { 
	height: 100px; 
	width: 100px; 
	margin-bottom: 10px; 
	background-color: #ffffff;
	border: solid #000000;
	margin: 10px;
}

.kasse4 { 
	height: 100px; 
	width: 100px; 
	margin-bottom: 10px; 
	background-color: #000000;
	border: solid #000000;
	margin: 10px;
}


.hex {
	margin: 10px;
}


.rgb {
	margin: 10px;
}

.cmyk {
	margin: 10px;
}

.textcontainer {
	margin-top: 25px;
	margin-bottom: 40px;
    background-color: #D8E0E5;
    padding: 30px;
    border-radius: 20px;
    width: 80%;
}

.anvendes {
	font-weight: bold;
}

.logopicture {
	width: 80%; 
}

.typograficontainer {
	display: flex;
	width: 100%;
}

.typograficontainer h1 {
	font-size: 32px;
	margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 150px;
    padding-left: 30px;
}

.typograficontainer h2 {
	font-size: 20px;
	margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 150px;
    padding-left: 30px;
}

.btn1 {
	margin: 30px;
	border: #0D76BD;
	color: #fff;
	background-color: #0D76BD;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

.btn1:hover {
	border: solid #0D76BD;
	color: #0D76BD;
	background-color: #fff;
}

.btn2 {
	margin: 30px;
	border: solid #0D76BD;
	color: #0D76BD;
	background-color: #ffffff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
 	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

.btn2:hover {
	border: solid #0D76BD;
	color: #0D76BD;
	background-color: #000;
}


.btn3 {
	margin: 30px;
}